<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ekranı</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <style>
        /* Özel CSS stilleri */
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="back-blur"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <center><img src="/img/vovicarslogo.png" alt=""></center>
                        <h3 class="text-center">Kayıt Ol</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="username">Kullanıcı Adı</label>
                                <input name="username" type="text" class="form-control" id="username" placeholder="Kullanıcı Adı">
                            </div>
                            <div class="form-group">
                                <label for="password">Şifre</label>
                                <input name="passwd" type="password" class="form-control" id="password" placeholder="Şifre">
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Şifre Tekrar</label>
                                <input name="repasswd" type="password" class="form-control" id="confirmPassword" placeholder="Şifre Tekrar">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
                        </form>
                        <br>
                        <% if (user_err_msg!=false) { %>
                          <div class="alert alert-danger" role="alert">
                            <%= user_err_msg.message %>
                          </div>
                        <% } %>
                        <% if (err_msg!=false) { %>
                          <% for( let index = 0; index < err_msg.length; index++ ) { %>
                            <div class="alert alert-danger" role="alert">
                              <%= err_msg[index].message %>
                            </div>
                          <% } %>
                        <% } %>
                        <% if (succes_msg!=false) { %>
                          <div class="alert alert-success" role="alert">
                            <%= succes_msg.message %>
                          </div>
                        <% } %>
                        <center>Bir hesabın var mı? <a href="/user/login">Giriş yap</a></center>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS ve jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
